<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="irad:RootForResources" value="//images.ipasoftware.com/kinepolis/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" xdt:Transform="SetAttributes(runAllManagedModulesForAllRequests)" xdt:Locator="Match(runAllManagedModulesForAllRequests)" />
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>