<!--<div id="portrait" class="app">
        <div id="top">
            <div><div>

                     <div id="logo"></div>
                     <div id="movieinfo" data-bind="iradTemplate: EventInfo" />
                     <div id="versioninfo">
                         <div>VER (app: <span data-bind="text: AppVersion"/> dll:<span data-bind="text: DllVersion"/>)</div>
                         <div>ADR <span data-bind="text: HostAddress"/></div>
                         <div><span style="font-weight: bold; color: cyan;" data-bind="visible: OperationsTracker().IsOperationInProgress">&lt;~&gt;</span></div>
                     </div>
                 </div></div>
        </div>

        <div data-bind="iradTemplate: MainContent" id="main" />

        <div id="busy" data-bind="visible: OperationsTracker().IsOperationInProgress">
            <div class="cross"></div>
            <div>
                <div>
                    <div class="spinner"></div>    
                    <div class="message" data-bind="text: OperationsTracker().MostRecentOperationMessage"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="landscape">
        <div class="cross"></div>
        <div class="overlay"></div>
        <div class="rotate"></div>
    </div>

    -->
<h1>DataGrid sample</h1>

<div style="margin-top: 30px" data-bind="iradTemplate: MainContent" id="main" />